<div class="jumbotron">
  <h4>{{'contactPage.contact' | translate}}</h4>
  <div class="jumboItem">
    <div class="row">
      <div class="col-md-6">{{'contactPage.email' | translate}}</div>
      <div class="col-md-6"><a href="mailto:joel.cancelavaz@outlook.fr">joel.cancelavaz@outlook.fr</a></div>
    </div>
  </div>
  <hr>
  <h4>{{'contactPage.legalNotices' | translate}}</h4>
  <div class="jumboItem">
    <div class="row">
      <div class="col-md-6">{{'contactPage.creator' | translate}}</div>
      <div class="col-md-6">Joël Cancela Vaz</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">{{'contactPage.hosting' | translate}}</div>
      <div class="col-md-6">Joël Cancela Vaz</div>
    </div>
    <hr>
    <h4>{{'contactPage.availability' | translate}}</h4>
    <p>{{'contactPage.availabilityText' | translate}}</p>
    <hr>
    <h4>{{'contactPage.responsibility' | translate}}</h4>
    <p [innerHTML]="'contactPage.responsibilityText' | translate | trustHtml"></p>
    <hr>
    <h4>{{'contactPage.protectedDomains' | translate}}</h4>
    <p [innerHTML]="'contactPage.protectedDomainsText' | translate | trustHtml"></p>
  </div>
  <hr>
  <h4>{{'contactPage.legalExtracts' | translate}}</h4>
  <div class="alert alert-info">
    <div class="text-center"><strong>{{'contactPage.copyrightTitle' | translate}}</strong></div>
    Article L. 111-1 du Code de la propriété intellectuelle :<br>
    L'auteur d'une oeuvre de l'esprit jouit sur cette oeuvre, du seul fait de sa création, d'un droit de
    propriété incorporelle exclusif et opposable à tous. Ce droit comporte des attributs d'ordre
    intellectuel et moral, ainsi que des attributs d'ordre patrimonial [...].<br>
    <br>
    Article L. 112-2 du Code de la propriété intellectuelle :<br>
    Sont considérés notamment comme oeuvres de l'esprit au sens du présent code :<br>
    <ul>
      <li>Les livres, brochures et autres écrits littéraires, artistiques et scientifiques ;</li>
      <li>Les conférences, allocutions, sermons, plaidoiries et autres oeuvres de même nature ;</li>
      <li>Les oeuvres dramatiques ou dramatico-musicales ;</li>
      <li>Les oeuvres chorégraphiques, les numéros et tours de cirque, les pantomimes,<br> dont la mise en
        oeuvre est fixée par écrit ou autrement ;
      </li>
      <li>Les compositions musicales avec ou sans paroles ;</li>
      <li>Les oeuvres cinématographiques et autres oeuvres consistant dans des séquences animées d'images,
        sonorisées ou non, dénommées ensemble oeuvres audiovisuelles ;
      </li>
      <li>Les oeuvres de dessin, de peinture, d'architecture, de sculpture, de gravure, de lithographie
        ;
      </li>
      <li>Les oeuvres graphiques et typographiques ;</li>
      <li>Les oeuvres photographiques et celles réalisées à l'aide de techniques analogues à la
        photographie
        ;
      </li>
      <li>Les oeuvres des arts appliqués ;</li>
      <li>Les illustrations, les cartes géographiques ;</li>
      <li>Les plans, croquis et ouvrages plastiques relatifs à la géographie, à la topographie, à
        l'architecture et aux sciences ;
      </li>
      <li>Les logiciels, y compris le matériel de conception préparatoire ;</li>
      <li>Les créations des industries saisonnières de l'habillement et de la parure. Sont réputées
        industries
        saisonnières de l'habillement et de la parure les industries qui, en raison des exigences de la
        mode, renouvellent fréquemment la forme de leurs produits, et notamment la couture, la fourrure,
        la
        lingerie, la broderie, la mode, la chaussure, la ganterie, la maroquinerie, la fabrique de
        tissus de
        haute nouveauté ou spéciaux à la haute couture, les productions des paruriers et des bottiers et
        les
        fabriques de tissus d'ameublement.
      </li>
    </ul>
    <br>
    Article L. 123-1 du Code de la propriété intellectuelle :<br>
    L'auteur jouit, sa vie durant du droit exclusif d'exploiter son oeuvre sous quelque forme que ce soit et
    d'en tirer un profit pécuniaire.<br>
    Au décès de l'auteur, ce droit persiste au bénéfice de ses ayants-droits pendant l'année civile en cours
    et
    les soixante-dix années qui suivent.
    <div class="text-center"><a href="https://www.legifrance.gouv.fr/" rel="noreferrer" target="_blank"><strong>Legifrance</strong></a>
    </div>
  </div>
</div>
