.iconLink {
  padding-right: 10px;
}

.javaSE8logo {
  width: 60px;
  height: 60px;
}

.img-profile {
  border: 4px solid gray;
  border-radius: 2px;
}

h1 {
  font-size: 30px !important;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
